.navbar-container{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #f1eeee;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
